<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script
      src="https://kit.fontawesome.com/6dca3e9c71.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/common.css" />
    <title>소개</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="/">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health?id=1">운동</a></div>
        <div class="loginId">
          <% if(nickname){%>
          <div class="id">
            <span style="font-weight: bold"><%=nickname%></span>
            님 환영합니다
            <span
              ><a href="/logout"
                ><i
                  class="fa-solid fa-right-from-bracket"
                  style="padding-left: 10px"
                ></i></a
            ></span>
          </div>
          <% } else {%>
          <div class="navi"><a href="/login">로그인</a></div>
          <%}%>
        </div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="line_wrap">소개</div>

    <section class="section" id="section">
      <article class="article" id="article">
        <div class="logoBack">
          <div class="logo">
            <div>Together</div>
            <div>Sports</div>
          </div>
        </div>
        <div class="textBack">
          <h1 class="text1">스포츠의 중심</h1>
          <h1 class="text2">TogetherSports는 여러분의 운동커뮤니티를</h1>
          <h1 class="text3">돕고 있습니다.</h1>
        </div>
      </article>
    </section>

    <footer>
      <div class="footer_wrapper">
        <div class="footer_wrap">
          <div class="email">문의 : whdudfo0124@gmail.com</div>
        </div>
      </div>
      <!--  footer_wrapper  -->
    </footer>
  </body>
</html>
