<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>여기는 홈 2</h1>
    <div>-------------------------</div>
    <a href="/">홈으로 이동</a>
    <div>-------------------------</div>
    <h2><%= data.data %></h2>
    <div>-------------------------</div>
    <div>
      <a href="/home2/1">1</a>
      <a href="/home2/2">2</a>
      <a href="/home2/3">3</a>
    </div>
  </body>
</html>
