<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/home.css" />

    <title>우리동네 운동모임</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="http://localhost:3000">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health">운동</a></div>
        <div class="navi">홍보</div>
        <div class="loginId">
          <% if(nickname){%>
          <div class="id">
            <span><%=nickname%></span>
            님 환영합니다
          </div>
          <% } else {%>
          <div class="navi"><a href="/login">로그인</a></div>
          <%}%>
        </div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="main_wrap">
      <img src="/images/background1.jpg" alt="background" class="main_img" />
      <div class="main_title os">
        <!-- <div>Go Exercise Together</div> -->
        <h1><span>Go</span> Exercise<span> Together</span></h1>
        <div class="word"></div>
      </div>
    </div>
    <!--  main_wrap  -->

    <div class="category_wrap">
      <div class="category">
        <a href="/health">
          <img src="/images/soccer.jpg" alt="축구" />
        </a>
        <a href="/baseketball">
          <img src="/images/bascketball.jpg" alt="농구" />
        </a>
        <img src="/images/tennis.jpg" alt="테니스" />
        <img src="/images/baseball.jpg" alt="야구" />
      </div>
    </div>
    <!--  category_wrap  -->

    <div class="intro_wrapper">
      <div class="intro_wrap">
        <img src="/images/town.jpg" alt="건물" class="intro_img" />
        <div class="intro">
          <div class="intro_title fk">TogetherSports</div>
          <div class="intro_sub">
            <span>TogetherSports</span>는 언제 어디서나 모든 스포츠를 함께 할 수
            있는 스포츠 커뮤니티입니다. 이제부터 힘들고 귀찮게 카페에 용병등록을
            하지 마시고 저희 TogetherSports에서 등록하고 지금 이 순간 함께
            팀원과 운동을 즐겨 보세요!!
          </div>
        </div>
      </div>
    </div>
    <!--  introduce_wrapper  -->

    <footer>
      <div class="footer_wrapper">
        <div class="footer_wrap">
          <div class="email">문의 : whdudfo0124@gmail.com</div>
        </div>
      </div>
      <!--  footer_wrapper  -->
    </footer>
  </body>
</html>

<script></script>
