<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>로그인</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="/">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health?id=1">운동</a></div>
        <div class="navi"><a href="/login">로그인</a></div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="line_wrap">로그인</div>

    <div class="login_wrap">
      <form action="" method="post">
        <div class="login">
          <label for="id">아이디</label>
          <input type="text" id="id" name="id" placeholder="ID" />
          <label for="pwd">비밀번호</label>
          <input type="password" id="pwd" name="pwd" placeholder="Password" />
          <div class="check">
            <button type="button" id="loginBtn">로그인</button>
            <a href="/signUp" class="link">회원가입</a>
            <button type="button" class="naver" id="">
              <a href="https://niceyoungrae.shop/login/naver"
                >네이버로 로그인</a
              >
              <img src="/images/naver.svg" alt="" />
            </button>
            <button type="button" class="kakao" id="">
              <a href="https://niceyoungrae.shop/login/kakao"
                >카카오로 로그인</a
              >
              <img src="/images/kakao.svg" alt="" />
            </button>
            <button type="button" class="google" id="">
              <a href="https://niceyoungrae.shop/login/google">구글로 로그인</a>
              <img src="/images/google.svg" alt="" />
            </button>
            <!-- <div class="find">
              <a href="/findId">아이디 찾기</a>
              <a href="/findPw">비밀번호 찾기</a>
            </div> -->
          </div>
        </div>
      </form>
    </div>

    <footer>
      <div class="footer_wrapper">
        <div class="footer_wrap">
          <div class="email">문의 : whdudfo0124@gmail.com</div>
        </div>
      </div>
      <!--  footer_wrapper  -->
    </footer>
  </body>
</html>

<script src="/js/login.js"></script>
