<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/home.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <title>정보 글쓰기</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="http://localhost:3000">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi">소개</div>
        <div class="navi"><a href="http://localhost:3000/health">운동</a></div>
        <div class="navi">홍보</div>
        <div class="navi">로그인</div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="write_wrap">
      <form action="" method="post">
        <label for="">이름</label>
        <input type="text" />
        <label for="">제목</label>
        <input type="text" />
      </form>
    </div>
    <!-- write_wrap -->

    <h2><%= data.data %></h2>
    <input id="health" type="text" />
    <button id="button" onclick="health()">확인</button>

    <input id="test" type="text" />
    <button id="button" onclick="test()">확인</button>

    <h1>테스트 제목</h1>
    <div>-------------------------</div>
    <a href="/home2/1">페이지 이동</a>
    <div>-------------------------</div>
    <% data.forEach(el => { %>
    <h2><%= el.data %></h2>
    <% }) %>

    <div>-------------------------</div>
    <div class="data" id="data">데이터</div>
    <div>-------------------------</div>
  </body>
</html>
