/************ Normalize ************/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
form,
input,
textarea,
select,
header,
section,
nav,
article,
aside,
footer,
table,
thead,
tbody,
tr,
td,
th,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
ul,
ol {
  list-style: none;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
* {
  box-sizing: border-box;
}

/************ 공통사항 ************/
.clear::after {
  content: '';
  display: block;
  clear: both;
}
/* .img {width: 100%; height: auto;}
.imgx {max-width: 100%;}
.imgv {height: 100%; width: auto;} */
.pointer {
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

.os {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navi_wrapper .navi_wrap {
  display: flex;
}

.navi_wrap .navi {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.125rem;
}

.navi:after {
  display: block;
  content: '';
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navi:hover:after {
  transform: scaleX(1);
}
