/* @font-face {
  font-family: 'arirang';
  src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

.fk {
  font-family: 'Fredoka One', cursive;
}

.os {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

/*********  navi_wrapper  *********/
.navi_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.logo {
  font-size: 30px;
}

.navi_wrapper .navi_wrap {
  display: flex;
}

.navi_wrap .navi {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.125rem;
}

.navi:after {
  display: block;
  content: '';
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navi:hover:after {
  transform: scaleX(1);
}

.loginId {
  margin-top: 2px;
}

.loginId span {
  font-weight: bold;
  padding-left: 10px;
}

/*********  main_wrap  *********/
.main_wrap {
  position: relative;
  display: flex;
  overflow: hidden;
}

.main_wrap img {
  width: 100vw;
  height: 52.4em;
  opacity: 0.8;
}

.main_wrap .main_title {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 3.5px;
}

.main_title {
  font-size: 40px;
}
.main_title .title {
  font-size: 100px;
}

h1 {
  /* color: #484848; */
  color: #000;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}

h1:hover span:nth-child(1) {
  margin-right: 15px;
}

h1:hover span:nth-child(2) {
  margin-left: 15px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

/*********  category_wrap  *********/
.category_wrap {
  width: 90%;
  margin: 120px auto 50px auto;
}

.category_wrap .category {
  display: flex;
  justify-content: space-between;
}

.category_wrap img {
  object-fit: cover;
  width: 20em;
  height: 35em;
  transition: 0.5s;
  cursor: pointer;
}

.category_wrap img:hover {
  transform: scale(1.2);
}

/*********  intro_wrapper  *********/
.intro_wrapper .intro_wrap {
  width: 90%;
  margin: 130px auto;
}

.intro_wrapper .intro_wrap {
  display: flex;
}

.intro_wrap .intro_img {
  width: 41em;
  height: 20em;
}

.intro_wrap .intro {
  width: 50%;
}

.intro .intro_title {
  text-align: center;
  font-size: 2rem;
  margin-top: 60px;
}

.intro .intro_sub {
  text-align: center;
  margin: 30px 20px 0 20px;
}

.intro .intro_sub span {
  font-size: 1.125rem;
  font-weight: bold;
}

/*********  footer_wrapper  *********/
footer {
  background-color: black;
}

.footer_wrapper {
  width: 80%;
  color: #fff;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 30px 0;
}

.footer_wrapper .footer_wrap {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
}
