@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

.fk {
  font-family: 'Fredoka One', cursive;
}

.os {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

/******  navi_wrapper  *******/
.navi_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.logo {
  font-size: 30px;
}

.navi_wrapper .navi_wrap {
  display: flex;
}

.navi_wrap .navi {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.125rem;
}

.navi:after {
  display: block;
  content: '';
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navi:hover:after {
  transform: scaleX(1);
}

/******  line_wrap  *******/
.line_wrap {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

/******  login, check  *******/
.login_wrap {
  height: 60vh;
  margin-top: 6%;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 6%;
}

.login {
  display: flex;
  width: 350px;
  flex-direction: column;
}

.login label {
  font-size: 18px;
  font-weight: bold;
  animation: title 2s 1 forwards;
}

.login .naver {
  width: 100%;
  padding: 10px 20px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: rgb(228 228 228) 0px 1px 1px 1px;
  background-color: rgb(3, 199, 90);
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: relative;
}

.login .kakao {
  width: 100%;
  padding: 10px 20px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: rgb(228 228 228) 0px 1px 1px 1px;
  background-color: rgb(254, 229, 0);
  position: relative;
  font-size: 16px;
}

.login .google {
  width: 100%;
  padding: 10px 20px;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px #e4e4e4;
  position: relative;
  font-size: 16px;
  background-color: #fff !important;
}

.kakao a {
  padding: 10px 100px;
}

.naver a {
  padding: 10px 100px;
}

.google a {
  padding: 10px 100px;
}

.login .naver img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login .kakao img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login .google img {
  width: 30px;
  position: absolute;
  left: 4%;
  top: 12%;
}

.login input {
  height: 50px;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
  margin-top: 20px;
}

.check button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 250ms;
}

.check button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
}

.check .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #d3d3d3;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 250ms;
}

.check .link:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: translateY(3px);
}

.check .find {
  display: flex;
  justify-content: space-between;
}

.check .find a {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

/*********  footer_wrapper  *********/
footer {
}

.footer_wrapper {
  width: 80%;
  color: #000;
  font-size: 19px;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: bold;
}

.footer_wrapper .footer_wrap {
  display: flex;
  justify-content: center;
}
